*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app
/anonx
/anonx_*

build/
build_*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake

cache/
downloads/
data/
tdlib/
*.db
*.db-wal
*.db-shm
*.db-journal
log.txt
*.log

.env
*.env.local
!sample.env

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
