API_ID=
API_HASH=

BOT_TOKEN=
LOGGER_ID=

OWNER_ID=

SESSION_NAME=assistant
DATA_DIR=./data/tdlib_session

PHONE_NUMBER=

SESSION_NAME2=assistant2
PHONE_NUMBER2=
SESSION_NAME3=assistant3
PHONE_NUMBER3=

DB_PATH=anonx.db

DURATION_LIMIT=60
QUEUE_LIMIT=20
PLAYLIST_LIMIT=20

SUPPORT_CHANNEL=https://t.me/fallenx
SUPPORT_CHAT=https://t.me/DevilsHeavenMF

AUTO_LEAVE=False
AUTO_END=False
THUMB_GEN=True
VIDEO_PLAY=True

LANG_CODE=en

COOKIES_URL=
DEFAULT_THUMB=https://te.legra.ph/file/3e40a408286d4eda24191.jpg
PING_IMG=https://files.catbox.moe/haagg2.png
START_IMG=https://files.catbox.moe/zvziwk.jpg
